body {
  text-align: left;
  font-family: Courier New;
  background-color: black;
  color: white;
  max-width: 75%;
  font-size: 22px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.table-container {
    background-color: black; /* Set the background color behind the table */
    padding: 20px; /* Add some padding for spacing */
}