body {
  text-align: left;
  font-family: Courier New;
  background-color: black;
  color: white;
  max-width: 75%;
  font-size: 22px;
}



* {
    background-color: black;
    color: white; /* Set text color to contrast with the background */
}